<%- include("navbar") -%>

<div class="container py-2 dashboard-container">
  <div id="clientList" style="display: none;"><%= clientList %></div>
  <div class="px-3 py-2 my-2 hide-behind-profile dashboard">
    <div class="mx-2 row">
      <div class="p-0 col-12 col-sm-6 keep-search-list-open search-bar-holder">
        <span class="p-2 keep-search-list-open search-icon-holder">
          <img
            class="keep-search-list-open"
            src="/icons/icons/search.svg"
            alt="Search"
            height="17px"
            width="17px"
          />
        </span>
        <input
          class="keep-search-list-open search-bar"
          type="text"
          placeholder="Search"
        />
      </div>
      <div class="col-sm-4"></div>
      <div class="p-0 mt-3 col-12 col-sm-6">
        <div class="keep-search-list-open search-list"></div>
      </div>
    </div>
    <div class="mt-2 row justify-content-end">
        <a class="mr-4" href="/client/sign-up" ><button class="p-1 py-sm-2 px-sm-3 button">Add Client</button></a>
    </div>
    <div class="mt-4 mb-2 mx-sm-2 row client-list-item">
      <div class="p-0 mb-3 mr-2 col-4 col-sm-3"></div>
      <div class="p-0 mb-3 col-7 col-sm-8">
        <div class="scrollable-box client-detail client-detail-header">
          <h3 class="p-2 mr-2 col-7 col-sm-3">ph-No</h3>
          <h3 class="p-2 mr-2 col-8 col-sm-5">Father Name</h3>
          <h3 class="p-2 mr-2 col-3 col-sm-2">Age</h3>
          <h3 class="p-2 mr-2 col-8 col-sm-5">Husband Name</h3>
        </div>
      </div>
      <% JSON.parse(clientList).forEach(client => {%>
      <div class="p-0 mb-3 mr-2 col-4 col-sm-3 align-self-center client-name">
        <h3>
          <%= client.fname %> <%= client.lname %>
          <img
            class="ml-1 client-open-icon"
            src="/icons/icons/box-arrow-in-right.svg"
            alt="Open"
            data-id="<%= client.clientId %>"
          />
        </h3>
      </div>
      <div class="p-0 mb-3 col-7 col-sm-8">
        <div class="scrollable-box scroll-start client-detail">
          <span class="p-2 mr-2 col-7 col-sm-3 client-detail-item"
            ><%= client.phNo %>
          </span>
          <span class="p-2 mr-2 col-8 col-sm-5 client-detail-item"
            ><%= client.fatherName %>
          </span>
          <span class="p-2 mr-2 col-3 col-sm-2 client-detail-item"
            ><%= client.age %>
          </span>
          <span class="p-2 col-8 col-sm-5 client-detail-item"
            ><%= client.husbandName %>
          </span>
        </div>
      </div>
      <% }); %>
    </div>
    <div class="m-0 p-0 row horizontal-scroll-holder">
      <img src="/icons/icons/chevron-right.svg" class="mt-2 mr-2 mr-sm-4 horizontal-right-scroll-icon" alt="Scroll"></img>
      <div class="p-0 col-4 col-sm-3 horizontal-left-scroll-icon">
      <img src="/icons/icons/chevron-left.svg" class="mt-2 mr-sm-4" alt="Scroll"></img>
      </div>
    </div>
    <div
        class="justify-content-center search-list-selected-client-container"
      >
        <div
          class="col-9 col-sm-4 mx-auto px-2 py-3 search-list-selected-client"
        >
          <img
            class="ml-auto d-block client-open-icon"
            src="/icons/icons/box-arrow-in-right.svg"
            alt="Open"
            height="25px"
            width="25px"
            data-id=""
          />
        </div>
      </div>
  </div>
  <%- include('profile') -%>

  <script type="text/javascript">
    const clientList = document.querySelector(".client-list-item"),
      navbar = document.querySelector(".my-navbar").offsetHeight,
      searchBar = document.querySelector(".search-bar-holder").offsetHeight;
    clientList.style.maxHeight =
      document.documentElement.clientHeight - (135 + navbar + searchBar) + "px";
  </script>
</div>
<%- include("footer") -%>
