<%- include("navbar") -%>
<%- include("loading") -%>

<div style="position: relative;" class="p-2 container">
  <div
    class="m-3 row pushed-in-box hide-behind-profile client-case-detail-container"
  >
    <div
      class="ml-2 py-3 pl-2 pl-sm-3 pr-0 col-11 col-md-6 client-detail-container"
    >
      <div class="py-2 pl-3 row client-detail-container">
        <div class="mb-2 px-0 col-2 col-md-2"><h3>Name :</h3></div>
        <div class="mb-2 pl-2 pl-md-0 col-7 col-md-9">
          <h3><%= clientData.fname %> <%= clientData.lname %></h3>
        </div>
        <div class="mb-2 px-0 col-4 col-md-3">
          <h3>Father Name :</h3>
        </div>
        <div class="mb-2 pl-0 pl-md-2 col-8 col-md-8">
          <h3><%= clientData.fatherName %></h3>
        </div>
        <div class="mb-2 px-0 col-2"><h3>Age :</h3></div>
        <div class="mb-2 px-0 col-7 col-md-10">
          <h3><%= clientData.age %></h3>
        </div>
        <div class="mb-2 px-0 col-5 col-md-4"><h3>Husband Name :</h3></div>
        <div class="mb-2 px-0 col-5 col-md-6">
          <h3><%= clientData.husbandName %></h3>
        </div>
        <div class="mt-3 mb-2 col-8"><h3>Address :</h3></div>
        <div class="mb-4 offset-1 col-10">
          <h3><%= clientData.address %></h3>
        </div>
        <div class="mb-2 px-0 col-2"><h3>ph-No :</h3></div>
        <div class="mb-2 pl-2 pl-md-0 col-9">
          <h3><%= clientData.phNo %></h3>
        </div>
        <div class="mb-2 px-0 col-2"><h3>Tel-No :</h3></div>
        <div class="mb-2 pl-2 pl-md-0 col-9">
          <h3><%= clientData.telNo %></h3>
        </div>
        <div class="mb-2 px-0 col-3 col-md-2"><h3>mail-Id :</h3></div>
        <div class="mb-2 pl-0 col-7 col-md-9">
          <h3><%= clientData.mail %></h3>
        </div>
      </div>
    </div>
    <div class="ml-md-auto col-12 col-md-5">
      <div
        class="row mt-4 mb-2 mx-2 mr-md-3 ml-md-0 py-3 px-3 case-detail-container"
      >
        <h3 class="p-0 mb-3 col-12">Open Case</h3>
        <h5 class="p-0 col-3 col-sm-2">Title -</h5>
        <h5 class="p-0 col-8" id="active-case-title">
          N/A
        </h5>
        <h5 class="p-0 col-10">Detail -</h5>
        <p class="pl-3 col-12" id="active-case-description">
          N/A
        </p>
      </div>
      <h5 class="mb-3 balance">Total Balance <i class="fas fa-coins"></i></h5>
      <h5 id="total-balance" class="mb-4">
        <span class="ml-4 mr-2 px-2 number-holder rupee-logo">&#8377;</span>
        <% String(clientData.totalBalance).split('').forEach(digit => { %> 
          <span class="mr-1 px-2 number-holder"><%= digit %></span>
        <% }); %> 
      </h5>
    </div>
  </div>
  <div class="m-3 row hide-behind-profile">
    <div class="my-2 p-3 col-12 col-sm-5 pushed-in-box doc-list-container">
      <%- include("loading-mini") -%>
      <h5 class="">
        Documents List
        <img
          class="ml-2 mb-1 case-item-open-icon"
          height="23px"
          width="23px"
          src="/icons/file-earmark-text.svg"
        />
      </h5>
      <ul
        id="document-list"
        class="pl-3 pl-sm-5 mt-3 list-unstyled doc-list"
      ></ul>
      <div class="mx-3 row">
        <div class="m-0 p-0 col-10 col-sm-9 text-field-container">
          <input
            type="text"
            id="new-doc-name"
            class="col-12 m-0 p-2"
            name="docName"
            required
          />
          <span class="text-field-placeholder">Doc. Name</span>
          <img src="/images/error.jpg" class="error-img" alt="Error" />
          <span class="mt-1 mb-0 error-message">
            This field is required
          </span>
        </div>
        <div class="mt-2 col-2 align-self-">
          <img
            style="cursor: pointer;"
            onclick="newDocument()"
            height="20px"
            width="20px"
            src="/icons/file-earmark-plus.svg"
            alt="Add"
          />
        </div>
      </div>
    </div>
  </div>
  <div
  style="position: relative"
    class="m-3 pb-4 row justify-content-center pushed-in-box hide-behind-profile transaction-history-container"
  >
  <%- include("loading-mini") -%>
    <h3 class="col-12 mt-4 mb-3">Transaction History</h3>
    <div style="text-align: right;" class="p-0 col-11">
      <p id="active-case-balance">
      Balance <i class="fas fa-coins"></i>
      <span class="mx-2 px-2 number-holder rupee-logo">&#8377;</span>
      <span class="mr-1 px-1 number-holder">0</span>
    </p>
  </div>
    <h5
      id="advocate-transaction-history" class="mx-3 mb-3 mb-sm-0 py-4 col-10 col-sm-5 transaction-history-header"
    >
      My Expenses
    </h5>
    <h5 id="client-transaction-history" class="mx-3 py-4 col-10 col-sm-5 transaction-history-header">
      Client Payments
    </h5>
    <div id="advocate-record-list" class="col-12 col-sm-10 mt-3 py-3 transaction-history">
    </div>
    <div id="client-record-list" class="col-12 col-sm-10 mt-3 py-3 transaction-history">
    </div>
  </div>
  <div class="mx-3 mt-3 mb-4 row justify-content-center">
    <div class="col-12 col-sm-10">
      <div class="m-0 py-0 pr-0 pl-1 pl-sm-2 row horizontal-scroll-holder hide-behind-profile">
        <img src="/icons/chevron-right.svg" class="mt-2 mr-2 mr-sm-4 horizontal-right-scroll-icon" alt="Scroll"></img>
        <div class="p-0 ml-3 col-4 col-sm-2 horizontal-left-scroll-icon">
        <img src="/icons/chevron-left.svg" class="mt-2 mr-sm-4" alt="Scroll"></img>
        </div>
      </div>
    </div>
  </div>
  <div class="m-3 row hide-behind-profile">
    <div id="new-record-container" class="my-2 col-12 col-sm-6 pushed-in-box">
      <%- include("loading-mini") -%>
      <h5 class="mt-3 mb-0 mx-2">Add Transaction &ensp; <img class="mb-2" height="20px" width="20px" src="/icons/journal-plus.svg" /></h5>
      <div class="pt-3 pb-2 px-4 row">
        <h4 id="new-record-from-advocate" class="col-3 p-2 mx-1 mx-sm-2 mb-3 new-record-from new-record-from-clicked" data-from="a">Expense</h4>
        <h4 id="new-record-from-client" class="col-5 col-sm-4 p-2 mx-1 mx-sm-2 mb-3 new-record-from" data-from="c">Client Payment</h4>
        <div class="mx-1 mx-sm-2 mb-0 mt-3 p-0 col-8 col-sm-6 text-field-container">
          <input
            type="date"
            id="new-record-date"
            class="col-12 m-0 p-2 new-record-text-field"
            name="date"
          />
          <span class="mt-1 mb-0 error-message">
            This field is required
          </span>
        </div>
        <div class="my-0 mx-1 mx-sm-2 p-0 col-11 col-sm-8 text-field-container">
          <textarea
            style="font-size: 15px; resize: none;"
            rows="3"
            type="text"
            id="new-record-purpose"
            class="m-0 col-12 p-2"
            name="purpose"
            required
          ></textarea>
          <span class="text-field-placeholder">Purpose</span>
          <span class="my-0 mb-0 error-message">
            This field is required
          </span>
        </div>
        <div class="col-0 col-sm"></div>
        <div class="my-0 mx-1 mx-sm-2 p-0 col-5 col-sm-3 text-field-container">
          <input
            type="text"
            id="new-record-amount"
            class="col-12 m-0 number-text-field new-record-text-field"
            name="amount"
            required
          />
          <span class="text-field-placeholder">Amount</span>
          <span class="mt-1 mb-0 error-message">
            Required
          </span>
        </div>
        <button onclick="newRecord()" class="col-3 col-sm-2 ml-3 p-2 align-self-start button">Add</button>
    </div>
    </div>
  </div>
  <div class="m-3 row hide-behind-profile">
    <div class="my-2 p-3 col-12 col-sm-5 pushed-in-box case-list-container">
      <h5 class="">
        Case List
        <img
          class="ml-2 mb-1 case-item-open-icon"
          height="20px"
          width="20px"
          src="/icons/layout-text-window-reverse.svg"
        />
      </h5>
      <ul class="pl-3 mt-3 list-unstyled case-list">
        <% caseList.reverse().forEach(item => { %>
        <li class="my-2 case-list-item">
          <%= item.caseTitle %> &ensp;
          <img
            class="case-item-open-icon"
            onclick="caseOpen('<%= item.caseId %>')"
            src="/icons/box-arrow-up-right.svg"
            alt="Open"
          />
        </li>
        <% }); %>
      </ul>
      <h5 id="case-count" class="mt-4 mb-0">
        No. of cases registered : &ensp; <%= clientData.caseCount %>
      </h5>
    </div>
    <div
      class="my-2 mx-0 mx-sm-4 p-3 col-12 col-sm-5 pushed-in-box new-case-container"
    >
    <%- include("loading-mini") -%>
      <div class="m-0 p-0 col-12 col-sm-10 text-field-container">
        <input
          type="text"
          id="new-case-title"
          class="col-12 m-0 p-2"
          name="caseTitle"
          required
        />
        <span class="text-field-placeholder">Case Title</span>
        <img src="/images/error.jpg" class="error-img" alt="Error" />
        <span class="mt-1 mb-0 error-message">
          This field is required
        </span>
      </div>
      <div class="m-0 p-0 col-12 col-sm-10 text-field-container">
        <textarea
          style="font-size: 15px; resize: none;"
          rows="3"
          type="text"
          id="new-case-description"
          class="m-0 col-12 p-2"
          name="caseDesc"
          required
        ></textarea>
        <span class="text-field-placeholder">Case Description</span>
        <span class="my-0 mb-0 error-message">
          This field is required
        </span>
      </div>
      <button onclick="newCase()" class="p-2 button">
        Register New Case
      </button>
    </div>
  </div>
  <%- include("profile") %>
</div>

<%- include("footer") -%>
