<%- include("navbar") %>

<div style="max-width: 100%;text-align: left;overflow: hidden;">
    <div class="mt-lg-4 py-lg-3 pl-lg-4 pr-0 inline advocateCard">
        <img class="pin" src="/images/pin.png">
        <div class="mb-2 advocateCard1" style="float: left;">
            <h3>Name : </h3>
            <h3>Qualification : </h3>
            <h3>Address : </h3>
        </div>
        <div class="ml-2 mb-2 advocateCard2" style="float: left;">
            <h3><%= lawyerDetails.fname %> <%= lawyerDetails.lname %></h3>
            <h3><%= lawyerDetails.qualification %></h3>
            <h3><%= lawyerDetails.address %></h3>
        </div>
        <div class="col-10 contactDetails">
            <h3 class="my-1"><b>Contact Details :</b></h3>
            <div style="clear: both;">
                <div class="pl-3" style="float: left;">
                    <h4 class="c1">mail-Id :</h4>
                </div>
                <div class="pl-3" style="float: left;">
                    <h4 class="c2"><%= lawyerDetails.mail %></h4>
                </div>
            </div>
            <div style="clear: both;">
                <div class="pl-3" style="float: left;">
                    <h4 class="c1">ph-No :</h4>
                </div>
                <div class="pl-3" style="float: left;">
                    <h4 class="c2"><%= lawyerDetails.phNo %></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="ml-lg-4 mt-lg-4" style="float: left;">
        <img src="/images/advocate.png" class="logo cLogo m-0 ml-5 mt-3" alt="Advocate">
        <h1 class="my-lg-5 ml-lg-3 mx-3 my-3 dBlock">Client Details</h1>
    </div>
</div>
<div style="max-width: 100%;text-align: left;">
    <div class="ml-lg-5 py-0 dBlock mAuto clientCard" style="overflow: hidden;">
        <div class="mx-lg-5 ml-4 clientCard1" style="float: left;">
            <h3>Name : </h3>
            <h3>Father's Name : </h3>
            <h3>Age : </h3>
            <h3>Client-Id : </h3>
            <h3>Address : </h3>
        </div>
        <div class="pl-lg-5 clientCard2" style="float: left;">
            <h3><%= fname %> <%= lname %></h3>
            <h3><%= fatherName %></h3>
            <h3><%= age %> </h3>
            <h3><%= clientId %></h3>
            <h3><%= address %></h3>
        </div>
        <div class="pt-4" style="overflow: hidden;clear: both;">
            <div class="mx-lg-5 ml-4 mb-5 clientCard1" style="float: left;">
                <h4> mail-Id : </h4>
                <h4>Phone Number : </h4>
            </div>
            <div class="mb-5 pl-lg-5 clientCard2" style="float: left;">
                <h4><%= mail %></h4>
                <h4><%= phNo %></h4>
            </div>
        </div>
    </div>
    <form class="mx-lg-5 mb-3 mx-3" action="/dummy-two" method="POST">
        <input type="hidden" name="advocateId" value="<%= lawyerDetails.id %>">
        <button type="submit" class="mx-lg-5 btn btn-lg btn-dark">Search Client</button>
    </form>
</div>
<hr>
<div class="mx-lg-5 my-lg-5 px-lg-5 m-3 p-2">
    <h4 style="cursor: pointer; font-family: 'Baloo Da 2', cursive; font-size: 25px;" data-toggle="collapse" data-target="#docList">Documents List</h4>
    <div class="m-lg-4 m-2 collapse" id="docList" style="width: fit-content;">
        <% for(let i=0; i < caseDetails[active].docList.length; ++i){ %>
        <div class="m-2">
            <p style="display: inline-block;" id="div<%= i %>" class="my-2 mx-lg-3"
                data-status="<%= caseDetails[active].docList[i].status %>"><img src="/images/arrow.png"
                    class="mr-lg-5 mr-2"><%= caseDetails[active].docList[i].docName %><% if(caseDetails[active].docList[i].status === true){ %><img
                    class="check ml-2 mb-2" src="/images/check.png"><% } %></p>
            <img id="remDoc<%= i %>" class="removeDoc" src="/images/minus.png" alt="Remove">
        </div>
        <% } %>
        <form onsubmit="return newDoc()" target="frame" action="/docOp" method="POST">
            <input type="hidden" name="docName" autocomplete="on"/>
            <input type="hidden" name="docStatus">
            <input type="text" class="mt-3 p-2 box" placeholder="Enter Document Name">
            <button onclick="justSet()" type="submit" class="m-3 btn btn-sm dBlock signUpButton">Add
                Document</button>
            <input type="hidden" name="clientId" value="<%= clientId %>">
            <input type="hidden" name="advocateId" value="<%= lawyerDetails.id %>">
            <input type="hidden" name="active" value="<%= activeId %>">
        </form>
    </div>
</div>
<div>
    <div class="dropdown mx-lg-5 mb-lg-5 my-0 mx-3 pl-lg-5 pl-2 caseList">
        <h3 class="inline">Case List</h3>
        <img class="m-2 pb-2" src="/images/down.png" type="button" data-toggle="dropdown">
        <div class="mt-2 dropdown-menu show1">
            <% for(let i=0; i<caseDetails.length; ++i){ %>
            <h4 id="<%= i %>" class="dropdown-item"><%= caseDetails[i].caseTitle %></h4>
            <% } %>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" type="button" onclick="newCase()">Add</button>
        </div>
    </div>
</div>
<form action="/caseOpen" method="POST" class="caseControl">
    <input type="hidden" name="caseId" />
    <input type="hidden" name="clientId" value="<%= clientId %>">
    <input type="hidden" name="advocateId" value="<%= lawyerDetails.id %>">
</form>
<form action="/newCase" method="POST" class="c newCase" style="display: none;">
    <div>
        <img title="Close" src="/images/close.png" alt="Close" id="newCaseClose" class="close">
        <input type="text" name="caseTitle" class="box" placeholder="Case Title" autocomplete="off">
        <textarea name="caseDesc" class="box address" name="" rows="5" placeholder="Case Description"></textarea>
        <button type="submit" class="btn btn-lg btn-outline-dark" id="newCaseCreate"
            style="display: block; margin: 15px auto">Add</button>
    </div>
    <input type="hidden" name="clientId" value="<%= clientId %>">
    <input type="hidden" name="advocateId" value="<%= lawyerDetails.id %>">
</form>
<div class="c caseDescBox">
    <div>
        <img title="Close" src="/images/close.png" alt="Close" id="popClose" class="close">
        <% for(let i=0; i<caseDetails.length; ++i){ %>
        <p id="p<%= i %>" class="popUp caseDesc" style="display: none;"><%= caseDetails[i].caseDesc %></p>
        <input type="hidden" value="<%= caseDetails[i].caseId %> " />
        <% } %>
    </div>
</div>

<h3 id="recordBalance" class="mx-lg-5 my-lg-0 px-lg-5 mt-3 mx-3 p-2">Total balance = <b><%= caseDetails[active].balance %></b></h3>

<div class="row recDisplay">
    <h2 class="col-lg-6 col-12 a">Paid by you</h2>
    <h2 class="col-lg-6 col-12 b">Paid by client</h2>
</div>

<div class="advocateRec" style="display: none;">
    <div class="row mAuto thead">
        <h3 class="col-lg-3 col-3">Date</h3>
        <h3 class="col-lg-6 col-5">Purpose</h3>
        <h3 class="col-lg-3 col-4">Amount</h3>
    </div>
    <% if(records.advocate.length === 0){ %>
    <h2 id="noRecordShow1">No records to show</h2>
    <% }else{ %>
    <h2 id="noRecordShow1" style="display: none;">No records to show</h2>
    <% } %>
    <% for(let i=0; i<records.advocate.length; ++i){ %>
    <div class="row mAuto tbody">
        <div class="col-lg-3 titem"><%= records.advocate[i].actualDate %></div>
        <div class="col-lg-6 titem"><%= records.advocate[i].purpose %></div>
        <div class="col-lg-3 titem">
            <b><%= records.advocate[i].amount %></b>
            <img src="/images/trash.png" alt="Delete" class="delete">
        </div>
    </div>
    <% } %>
    <button class="m-5 p-2 btn btn-lg btn-dark">New Record</button>
</div>

<div class="clientRec" style="display: none;">
    <div class="row mAuto thead">
        <h3 class="col-3">Date</h3>
        <h3 class="col-6">Purpose</h3>
        <h3 class="col-3">Amount</h3>
    </div>
    <% if(records.client.length === 0){ %>
    <h2 id="noRecordShow2">No records to show</h2>
    <% }else { %>
    <h2 id="noRecordShow2" style="display: none;">No records to show</h2>
    <% } %>
    <% for(let i=0; i<records.client.length; ++i){ %>
    <div class="row mAuto tbody">
        <div class="col-3 titem"><%= records.client[i].actualDate %></div>
        <div class="col-6 titem"><%= records.client[i].purpose %></div>
        <div class="col-3 titem">
            <b><%= records.client[i].amount %></b>
            <img src="/images/trash.png" alt="Delete" class="delete">
        </div>
    </div>
    <% } %>
    <button class="m-5 p-2 btn btn-lg btn-dark">New Record</button>
</div>

<div class="c deleteAlert" style="top: 50vh">
    <div class="">
        <h3>Are you sure you want to delete??</h3>
        <button class="btn btn-md btn-outline-dark m-3 py-1 px-4">Yes</button>
        <button class="btn btn-md btn-outline-dark m-3 py-1 px-4">No</button>
    </div>
</div>

<form target="frame" id="deleteRec" action="/delete" method="POST">
    <input type="hidden" name="paid_by">
    <input type="hidden" name="date">
    <input type="hidden" name="purpose">
    <input type="hidden" name="amount">
    <input type="hidden" name="clientId" value="<%= clientId %>">
    <input type="hidden" name="advocateId" value="<%= lawyerDetails.id %>">
    <input type="hidden" name="active" value="<%= activeId %>">
</form>

<form onsubmit="return newRecSubmit()" target="frame" class="newRec" action="/newRec" method="POST" style="display: none;">
    <input id="newRecord" type="hidden" name="paid_by">
    <img title="Close" class="close" src="/images/close.png" alt="Close">
    <h2></h2>
    <input type="text" name="date" class="box" onfocus="(this.type='date')" onblur="(this.type='text')"
        placeholder="DATE" required>
    <textarea name="purpose" class="box address" cols="40" rows="3" placeholder="Purpose" required></textarea>
    <input type="text" name="amount" class="box" autocomplete="off" placeholder="Amount" required>
    <button type="submit" class="btn btn-sm signUpButton">Add Record</button>
    <input type="hidden" name="clientId" value="<%= clientId %>">
    <input type="hidden" name="advocateId" value="<%= lawyerDetails.id %>">
    <input type="hidden" name="active" value="<%= activeId %>">
</form>

<iframe name="frame" style="display: none;"></iframe>
<input id="activeCaseIndex" type="hidden" value="<%= active %> ">

<%- include("footer") %>